.block{
      display: block;
      background-color: aliceblue;
}

.inline{
      display: inline;
      background-color:blue;
}

.flex{
      display: flex;
      background-color:red;
}

.contener{
      display: flex;
      flex-flow:column
}

.contener2{
      justify-content:column;
      align-items:row;
      align-content:column;
}

.flexcontener{
      flex: 5 5 15;
}

.flexbox{
      flex: 0 0 50%;

      flex: 1 1 auto;

      flex: 0 0 100px;

}

.flexbox2{
      justify-content:center;
      align-items:space-between;
}
