.boby{
    margin-top: 50px;
    font-family: sans-serif;
}

.card{  
    background-color: black;
    display: flex;
    align-items: center;
    gap: 53px;
    padding: 40px;
    border-radius: 32px;
}

.card-block{
    display: flex;
    flex-direction: column;
}

.badge{
    background-color: #191919;
    color: #fff;
    font-size: 18px;
    font-weight: 400px;
    line-height: 27px;
    width: fit-content;
    padding: 0 16px;
    border-radius: 6px;
    margin-bottom: 48.40px;
}

.Episode{
    color:#118DA8;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 15px;
}

.title{
    color:#FFFFFF;
    font-size: 64px;
    font-weight: 400;
    line-height: 70.4px;
    margin-bottom: 28px;
}

.subtitle{
    color:#FFFFFFB2;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin: 18px;
}
.btn{
    background-color: #118DA8;
    font-size: 18px;
    font-weight: 1;
    line-height: 2;
    color:#FFFFFF;
    border: none;
    padding: 6px 15px 10px;
    width: 208px;
    height: 51px;
}

.card2{
    padding: 20px 20px 30px 20px;
    background-color: #E1EDE6;
    width: fit-content;
}

.author{
    color:#86928B;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.name{
    color:#2C2D35;
    width: 500;
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 8px;
}

.material{
    color: #2C2D35;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 30px;
}

.price{
    color: #598D66;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 20px;
}

.btn2{
    border: 1px solid #598D66;
    color: #598D66;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 20px;
    padding: 21px 106px;
}

.card4{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 8px;

}

.avatar{
    width: 60;
    height: 60;
    border-radius: 50%;
    top: 969.7px;
    left: 2846.21px;
    flex-direction:row;
    margin-bottom: 7px;
}

.iconka{
    width: 28;
    height: 6;
    top: 971px;
    left: 3098px;
    color:#99B2C6;
}

.text{
    color:#99B2C6;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 30px;
}

.name1{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color:#809FB8;
    margin-bottom: 30;
}

.content{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #809FB8;
}

.card4{
    width: 380;
}


