p {
   color: blue;
   font-size: 16px;
}
.title {
   font-weight: 900;
   font-size: 24px;
   text-align: center;
   color: blueviolet;
}
#main-title {
            color: red;
        }
li{
   color:green;
}
#id{
   color:red;
}
h2 {
   color:blue
}