body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f9f9f9;
}

header{
    background-color: aliceblue;
    margin-bottom: 22px;
    padding: 20px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEf;

}

.header-bloc{
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #242424;
}

.nav a.active{
    color:#5856D6;
}

.buttons{
    display: flex;
    gap: 8px;
}

.btn{
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500px;
    list-style: 20px;
}
.btn-secondary{
    background-color: #5C53E9;
    color: #FFFFFF;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    padding: 10px 14px;
    border: 10px;
    gap: 8px;
}
.search-box input {
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.search-lg{
    display: flex;
    align-items: center;
    border: 1px solid #EEF0F3;
    padding: 10px 14px;
    border: 1px;
    gap: 10px;
}
.search-lg input {
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.btn-btn-primary{
    background-color: #000000;
    color: #FFFFFF;
}

.nav2{
    display: flex;
    align-items: center;
    gap: 40px;
}